version: "3.7"

services:
  ##############################
  # Backend Container
  ##############################
  api:
    container_name: titanApi
    restart: always
    image: "vishaltechnative/titandef:api0.5"
    ports:
      - "9000:9000"

  ##############################
  # UI Container
  ##############################
  ui:
    image: "vishaltechnative/titandef:app0.6"
    restart: always
    container_name: ui
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
    volumes:
      - /letsencrypt:/etc/letsencrypt
      #- /etc/letsencrypt:/etc/letsencrypt
      - /tmp/acme_challenge:/tmp/acme_challenge
  #newRelic Agent
  agent:
    container_name: newrelic-infra
    image: newrelic/infrastructure:latest
    cap_add:
      - SYS_PTRACE
    network_mode: host
    pid: host
    privileged: true
    volumes:
      - "/:/host:ro"
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      NRIA_LICENSE_KEY: "a1237572758ce7656d1ff8140559d131c915NRAL"
    restart: unless-stopped
  # ##############################
  # # Certbot Container
  # ##############################
  # certbot:
  #   image: certbot/certbot:latest
  #   volumes:
  #     - ./UI/nginx/certbot/conf:/etc/letsencrypt
  #     - ./UI/nginx/certbot/www:/var/www/certbot
